* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
@font-face {
  font-family: anna;
  src: url(fonts/anna-clara.ttf) format("truetype");
}
h1 {
  font-family: anna;
  font-size: 5rem;
  background: linear-gradient(269deg, #a24bcf, #4b79cf, #4bc5cf);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 3s ease infinite;
  animation: AnimationName 3s ease infinite;
}
@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 51%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 51%;
  }
  100% {
    background-position: 0% 50%;
  }
}
