* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
@font-face {
  font-family: anna;
  src: url(fonts/anna-clara.ttf) format("truetype");
}
body {
  background-color: #ab88ff;
  font-family: "Mulish", sans-serif;
  font-weight: 400;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: linear-gradient(269deg, #a24bcf, #4b79cf, #4bc5cf);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 3s ease infinite;
  animation: AnimationName 3s ease infinite;
}
@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 51%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 51%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.nav__title {
  font-family: anna;
  font-size: 5rem;
}
.nav__menu {
  width: 150px;
}
.menu__profile {
  display: flex;
  font-size: 1.5rem;
}
.menu__profile img {
  width: 40px;
  height: 40px;
}
.nav__menu ul {
  display: none;
  position: absolute;
  width: 100px;
  text-align: right;
}
.nav__menu:hover ul,
ul:hover {
  display: block;
}
.menu__menu li {
  list-style: none;
  margin: 10px 0;
}
.menu__menu li a {
  color: white;
  font-size: 1.1rem;
  text-decoration: none;
}
.menu__menu li a:hover {
  text-decoration: underline;
}
.main__search {
}
